/* GLOBAL */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* HEADER */
.header {
  background: var(--WHITE, #fff);
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-nav {
}

.header-nav-list {
}

.header-nav-list-item {
  color: var(--NAVY-BLUE, #2e2f42);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.header-nav-list-item:hover,
.header-nav-list-item:focus {
  color: var(--OCEAN, #404bbf);
  text-decoration: underline;
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
}

.header-contacts-list-item {
  color: var(--SLATE, #434455);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-list-item:hover,
.header-contacts-list-item:focus {
  color: var(--OCEAN, #404bbf);
}

/* HERO SECTION */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button {
  font-family: "Roboto", sans-serif;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  background: var(--IRIS, #4d5ae5);
}
button:hover,
button:focus {
  background-color: #404bbf;
}

/* ADVANTAGES & TEAM TEXT PROPERTIES */
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ADVANTAGES SECTION */
.advantages {
}

.advantages-list {
}

.advantages-list-item {
}

/* TEAM SECTION */
.team {
  background: var(--CLOUD, #f4f4fd);
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

/* PORTFOLIO SECTION */
.portfolio {
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-list-item-name {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.portfolio-list-item-product {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

/* FOOTER SECTION */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-logo-parag {
  color: var(--CLOUD, #f4f4fd);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
